.who-we-serve__container,
.our-program__container,
.solutions__container {
  display: none;
  height: 300px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 999;
}
.who-we-serve:hover .who-we-serve__container {
  display: block;
}
.our-program:hover .our-program__container {
  display: block;
}

.solutions:hover .solutions__container {
  display: block;
}

.resources__container, .about__container{
  display: none;
  height: 300px;
  width: 50%;
  background-color: white;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 999;
}
.resources:hover .resources__container {
  display: block;
}
.about:hover .about__container {
  display: block;
}